
@font-face {
  font-family: 'Abrade';
  src: url('./media/fonts/Abrade-SemiLight.ttf') format('truetype'),
      url('./media/fonts/Abrade-SemiLight.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Questrial';
  src: url('./media/fonts/Questrial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('./media/fonts/UniversLTStd.otf');
  font-weight: normal;
  font-style: normal;
}
