.section-container {
  min-width: 70%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.section-container h1 {
  font-size: calc(17px + 0.5vw);
  margin: 15px 0 10px 0;
  text-align: center;
}



.question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.question-container-question {
  max-width: 70%;
}
.question-container-question p {
  font-size: calc(13px + 0.3vw);
}
.score-buttons {
  min-width: 30%;
}
.unselect-1-5 {
  background: inherit;
  border: 1px solid red;
  border-radius: 20%;
  margin-right: 10px;
  font-size: calc(12px + 0.3vw);
  color: gray;
  padding: 10px;
  cursor: pointer;
}
.select-1-5 {
  background-color: rgb(245, 200, 200);
  border: 1px solid red;
  border-radius: 20%;
  margin-right: 10px;
  font-size: calc(12px + 0.3vw);
  padding: 10px;
  cursor: pointer;

}
.unselect-1-5:hover {
  background-color: rgb(245, 200, 200);
  color: black;
}

.section-nav {
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.step-nav-btn {
  height: 40px;
  font-size: calc(12px + 0.3vw);
  margin: 0;
  padding: 0 13px;
  cursor: pointer;
  border: none;
  transition: 0.1s ease-in;
}

.step-nav-btn:hover {
  background: black;
  color: white;
}

@media screen and (max-width: 900px){
  .question-container{flex-direction: column;}
  .section-container h2 {display: flex; justify-content: center;}
}