.header-bar-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 11;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: whitesmoke;
  height: 7vh;
  opacity: 1;
  box-shadow: 1px 1px 20px rgb(189, 188, 188);
  overflow:hidden;
}

.logo-mobile { 
  border: none;
  display: flex;
  height: 100%;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  z-index: 3;
}

.logo-mobile:hover{
  cursor: pointer;
}

.nav-dropbtn-mobile {
  position: absolute;
  display: block;
  right: 10px;
  outline: none !important;
  box-shadow: none !important;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


#nav-menu-mobile {
  position: fixed;
  z-index: 3;
  background: gray;
  height: 93vh;
  right: 0px;
  min-width: 200px;
  top: 7vh;
}

.menu-options-mobile{
  text-align: center;
  width: 100%;
}

.menu-options-mobile li{
  width: 100%;
  margin: auto; 
  text-align: center;
}

.navlink-mobile {
  color: black;
  display: flex;
  background-color: inherit; 
  outline: none;
  position: relative;
  text-align: center;
  margin: auto;
  padding: 15px 20px;
  border-bottom: 1px solid rgb(170, 170, 170);
  text-decoration: none;
  font-family: 'Univers';
  font-size: calc(14px + 0.3vw); 
}

.navlink-mobile:hover {
  cursor: pointer;
  background-color: #b1b1b1;
}

.navlink-mobile.active {
  color: red;
}


  
.search-bar-mobile {
  width: 100%;
  margin: 5px 0 13px 0;
  height: 4vh;
  display: flex;
  justify-content: center;
}

input[type=search] {
  width: 85%;
  height: 4vh;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: none;
  outline: none;
  color: white;
  text-indent: 10px;
}
::-ms-clear {
  display: none;
}

/* Chrome */
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration { 
  display: none; 
}
::-webkit-input-placeholder { 
  color: #666; 
  padding-left: 2px;
  
}


.user-panel-mobile-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

.user-panel-mobile {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.user-panel-mobile h1 {
  font-family: 'Questrial';
  font-size: 14px;
}



.bottom-panel-mobile {
  position: absolute;
  display: flex;
  bottom: 1vh;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.user-info {
  width: inherit;
  justify-content: center;
}


.logInOut-btn-mobile {
  color: white;
  font-size: 13px;
  float: right;
  font-family: 'Expansiva';
  border: none;
  background-color: transparent;
}
  
  
  
  
  
  
  
  
  
/*EFFECTS*/  
  
.slide-in-menu {
  position: relative;
  -webkit-animation-name: slideinmenu;
  -webkit-animation-duration: 0.4s;
  animation-name: slideinmenu;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideinmenu {
  from{ right:-200px; opacity:0; background-color: whitesmoke }
  to{ right:0; opacity:1; background-color: rgb(200, 200, 200)} 
}

@keyframes slideinmenu { 
  from{ right:-200px; opacity:0; background-color: whitesmoke }
  to{ right:0; opacity:1; background-color: rgb(200, 200, 200)} 
}

.slide-out-menu {
  position: relative;
  -webkit-animation-name: slideoutmenu;
  -webkit-animation-duration: 0.4s;
  animation-name: slideoutmenu;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideoutmenu {
  from{ right:0; opacity:1; background-color: rgb(200, 200, 200)} 
  to{ right:-200px; opacity:0; background-color: whitesmoke }
}

@keyframes slideoutmenu { 
  from{ right:0; opacity:1; background-color: rgb(200, 200, 200)} 
  to{ right:-200px; opacity:0; background-color: whitesmoke }
}

.active-header {
  -webkit-animation-name: activecolor;
  -webkit-animation-duration: 0.4s;
  animation-name: activecolor;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes activecolor {
  from { background-color: whitesmoke; } 
  to { background-color: rgb(200, 200, 200) }
}

@keyframes activecolor { 
  from { background-color: whitesmoke; } 
  to { background-color: rgb(200, 200, 200) }
}

.nonactive-header {
  -webkit-animation-name: nonactivecolor;
  -webkit-animation-duration: 0.4s;
  animation-name: nonactivecolor;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes nonactivecolor {
  from { background-color: rgb(200, 200, 200) } 
  to { background-color: whitesmoke; }
}

@keyframes nonactivecolor { 
  from { background-color: rgb(200, 200, 200) } 
  to { background-color: whitesmoke; }
}