.account-pg {
  min-height: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
}

.account-pg-sidebar {
  width: 20%;
  background: rgb(90, 90, 90);
  min-height: 100%;
}

.account-pg-main {
  width: 80%;
  padding-top: 50px;
}
.account-pg-header  {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-left: 30px;
  padding-right: 30px;
  align-items: baseline;
}
.account-pg-header h1 {
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: calc(25px + 0.2vw);
}

.account-pg-header h2 {
  font-weight: lighter;
  font-size: calc(13px + 0.2vw);
}

.account-pg-header h3 {
  font-weight: lighter;
  font-size: calc(14px + 0.2vw);
  margin: 0 0 0 20px;
  color: #CC0000
}

.account-items {
  padding-left: 30px;
  padding-right: 30px;
}

.account-item {
  padding: 10px 0 30px 0;
}
.account-item h1 {
  font-size: calc(15px + 0.3vw);
  margin: 10px 0px;
}

.account-item h2 {
  font-size: calc(13px + 0.3vw);
  font-weight: lighter;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .account-pg {flex-direction: column;}
  .account-pg-main {width: 100%;}
}